<form action="/editado/{{id}}" method="POST">
    <label for="nome">Nome:</label>
    <input type="text" name="nome" value="{{nome}}">
    <br>
    <label for="preco">Preço:</label>
    <input type="text" name="preco" value="{{preco}}">
    <br>
    <label for="descricao">Descrição:</label>
    <textarea name="descricao">{{descricao}}</textarea>
    <br>
    <button type="submit">Salvar</button>
</form>
